body {
  overflow-x: hidden;
}

#serviceSection {
  background-color: rgb(31, 32, 32);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 60px;
  padding: 30px;
}

#serviceSection p,
#serviceSection h1 {
  color: rgb(105, 93, 172);
}

#serviceSectionContainer .sectionHeader {
  color: rgb(105, 93, 172, 0.5);

  text-align: center;
  margin-top: 50px;
}

#serviceSectionContainer .sectionHeader span {
  color: rgb(31, 32, 32);
}

#serviceSection p {
  font-weight: bold;
}

#serviceSection #introTexts {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(105, 93, 172, 0.3);
}

#serviceSection #introTexts h4 {
  font-size: 30px;
  color: rgb(105, 93, 172);
}

#serviceSection h1 {
  font-weight: 600;
  width: 800px;
  font-size: 65px;
  margin-top: 30px;
  line-height: 80px;
}

#servicesList li {
  background-color: rgb(31, 32, 32);
  width: 60vw;
  height: 220px;
  margin-bottom: 10px;
  color: rgb(105, 93, 172);
  line-height: 20px;
  padding: 60px 50px;
  padding-right: 150px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

#servicesList li p {
  margin-top: 10px;
  font-size: 14px;
  width: 500px;
}

#servicesList li .servicesInfo {
  margin-left: 30px;
}

#servicesList li .servicesInfo p {
  line-height: 25px;
}

#servicesList h3 {
  font-size: 16px;
}

#servicesList .servicesListTabs {
  display: flex;
  align-items: center;
}

#servicesList .servicesListTabs li #webIcon p {
  background-color: rgb(105, 93, 172);
  padding: 6px 10px;
  padding-right: 20px;
  color: rgb(31, 32, 32);
  width: 20px;
  font-weight: bold;
}

#servicesList li #fastSupportNote {
  width: 300px;
}

#servicesList .servicesListTabs li .servicesInfo2 {
  margin-left: 80px;
}

#servicesList .servicesListTabs li #fastSupportIcon {
  width: 20px;
  font-size: 20px;
}

#servicesList .servicesListTabs h3 {
  margin-bottom: 10px;
}

#servicesList .serviceDescription {
  background-color: rgb(105, 93, 172);
  height: 220px;
  margin-top: -10px;
  width: 50vw;
  border-radius: 50px;
  position: relative;
  margin-left: -140px;
  color: rgb(31, 32, 32);
  display: flex;
  align-items: center;
  justify-content: center;
}

#servicesList .serviceDescription p {
  text-align: center;
}

#servicesList .serviceDescription p .biggerText {
  display: block;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin-top: 15px;
}

@media (max-width: 1100px) {
  #servicesList li p {
    width: 380px;
  }
}

@media (max-width: 1040px) {
  #serviceSection h1 {
    font-weight: 500;
    width: 700px;
    font-size: 60px;
    line-height: normal;
    font-weight: bold;
  }

  #servicesList li p {
    width: 350px;
  }
  #servicesList .serviceDescription {
    width: 55vw;
  }
}

@media (max-width: 970px) {
  #servicesList li p {
    width: 250px;
  }
  #servicesList li #fastSupportNote {
    width: 200px;
  }
}

@media (max-width: 818px) {
  body {
    overflow-x: hidden;
  }
  #serviceSection #introTexts {
    padding-bottom: 13px;
  }
  #serviceSection #introTexts h4 {
    font-size: 22px;
  }

  #serviceSection h1 {
    font-weight: 600;
    width: 400px;
    font-size: 50px;
    line-height: normal;
  }

  #servicesList .serviceDescription {
    display: none;
  }

  #servicesList li {
    width: 95vw;
    padding: 60px 50px;
  }

  #servicesList li p {
    margin-top: 10px;
    font-size: 14px;
    width: 570px;
  }

  #servicesList li #fastSupportNote {
    width: 530px;
  }
}

@media (max-width: 720px) {
  #servicesList li p {
    width: 470px;
  }

  #servicesList li #fastSupportNote {
    width: 430px;
  }
}

@media (max-width: 620px) {
  #serviceSection #introTexts {
    padding-bottom: 12px;
  }

  #serviceSection #introTexts h4 {
    font-size: 20px;
  }

  #servicesList li p {
    width: 350px;
  }

  #servicesList li #fastSupportNote {
    width: 330px;
  }
}

@media (max-width: 500px) {
  #serviceSection #introTexts {
    padding-bottom: 10px;
  }

  #serviceSection #introTexts h4 {
    font-size: 15px;
  }

  #serviceSection h1 {
    width: 350px;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }

  #servicesList li p {
    margin-top: 10px;
    font-size: 18px;
    width: 250px;
  }

  #servicesList li #fastSupportNote {
    width: 220px;
  }

  #servicesList li #webDevNote {
    width: 260px;
  }

  #servicesList .servicesListTabs li .servicesInfo2 {
    margin-left: 80px;
  }

  #servicesList .servicesListTabs li div:first-of-type {
    margin-left: -10px;
  }
  #servicesList li:first-of-type {
    height: 290px;
  }
}

@media (max-width: 460px) {
  #serviceSection h1,
  #serviceSection p {
    text-align: center;
  }
  #serviceSection h1 {
    width: 320px;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }
}

@media (max-width: 450px) {
  #serviceSection #introTexts {
    padding-bottom: 8px;
  }

  #serviceSection #introTexts h4 {
    font-size: 13px;
  }

  #servicesList li {
    width: 92vw;
  }
}

@media (max-width: 414px) {
  #servicesList li {
    width: 94vw;
  }
}

@media (max-width: 375px) {
  #servicesList li #fastSupportNote {
    width: 180px;
  }

  #servicesList li #webDevNote {
    width: 230px;
  }
  #servicesList li {
    width: 94vw;
  }
}
