#menu {
  display: flex;
  align-items: center;
  /* position: absolute;
  top: 200px; */
  margin-top: 100px;
}

#aboutAndProjects {
  display: flex;
  margin-top: 7px;
}

@media (max-width: 818px) {
  #menu {
    display: block;
  }
}
